<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="script.js"></script>
<link href="style.css" rel="stylesheet"/>
<head>
        <script type="text/javascript">
            function CountRowsUsingJavascript() {
            var totalRowCount = 0;
            var rowCount = 0;
            var table = document.getElementById("jobs");
            var rows = table.getElementsByTagName("tr")
            for (var i = 0; i < rows.length; i++) {
            totalRowCount++;
            if (rows[i].getElementsByTagName("td").length > 0) {
            rowCount++;
             }
            }
            var message = "Total Row Count: " + totalRowCount;
            message += "\nTotal Jobs:" + rowCount;
            alert(message);
            }
            </script>
    <body ng-app = "myModule" style="font-family:Arial">
        <div ng-controller= "myController">
            <div class="js">Job Searching</div>
            <div class="exp">
            <input type="text" ng-model="searchText.experience"placeholder="Search experience"/>
            <input type="text" ng-model="searchText.location"placeholder="Search location"/>
            <input type="text" ng-model="searchText.skills"placeholder="Search skill"/>
            <input type="text" ng-model="searchText.companyname"placeholder="Search companyname"/>
            </div>
            <div class="em">
                <input type="checkbox" ng-model="exactmatch"/>Exact Match
            </div>
            <div class="sc">
                Sort By : <select ng-model="sortColumn">
                            <option value ="experience">Experience</option>
                            <option value ="location">Location</option>
                            <option value="salary">Salary</option>
                       </select></div> 
            <br /><br />
            <div class="jl">Job Listing</div>
            <div class="scrll">Scroll Right for more Info</div>
            <input type="button" id="tj" value="click here" onclick="CountRowsUsingJavascript()" />
            <table id="jobs">
                <tbody>
                    <tr ng-repeat="job in jobs | filter:searchText:exactmatch | orderBy:sortColumn">
                        <th>{{$index +1}}.Title:</th>
                        <td>{{job.title | uppercase}}</td>
                        <th>{{$index +1}}.Apply Link:</th>
                        <td>{{job.applylink}}</td>
                        <th>{{$index +1}}.Jd:</th>
                        <td>{{job.jd}}</td>
                        <th>{{$index +1}}.Company Name:</th>
                        <td>{{job.companyname | uppercase}}</td>
                        <th>{{$index +1}}.Location:</th>
                        <td>{{job.location}}</td>
                        <th>{{$index +1}}.Experience:</th>
                        <td>{{job.experience}}</td>
                        <th>{{$index +1}}.Salary:</th>
                        <td>{{job.salary}}</td>
                        <th>{{$index +1}}.Type:</th>
                        <td>{{job.type}}</td>
                        <th>{{$index +1}}.Skills:</th>
                        <td>{{job.skills}}</td>
                        <th>{{$index +1}}.Start Date:</th>
                        <td>{{job.startdate | date:"dd/MM/yyyy"}}</td>
                        <th>{{$index +1}}.End Date:</th>
                        <td>{{job.enddate | date:"dd/MM/yyyy"}}</td>
                        <th>{{$index +1}}.Created:</th>
                        <td>{{job.created}}</td>
                        <th>{{$index +1}}.Source:</th>
                        <td>{{job.source}}</td>
                        <th>{{$index +1}}.Time Stamp:</th>
                        <td>{{job.timestamp}}</td>
                        <th>{{$index +1}}.__V:</th>
                        <td>{{job.__v}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</head>