table{
    border-collapse: collapse;
    font-family: Arial;
    font-size: 14px;
    table-layout: auto;
    
}
td{
    border: 1px solid black;
    padding: 5px;
    background-color:#f2f2f2;
    text-align: left;



}
th{
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    background-color: cadetblue;
}
.exp {
        width: 300px;
		padding: 0 0 0;
		max-width: 300px;
		margin: 20px;
		text-align: left;
}
.exp input{
        font-family:"Roboto",sans-serif;
		outline: 1;
		background: #f2f2f2;
		width: 100%;
		border: 0;
		margin: 0 0 15px;
		padding: 15px;
		box-sizing: border-box;
		font-size: 14px;
		border-radius: 20px;
}
.sc{
        width: 300px;
		padding: 0 0 0;
		max-width: 300px;
		margin: 20px;
        text-align: left;
        

}
.em{
        width: 300px;
		padding: 0 0 0;
		max-width: 100px;
		margin: 20px;
        text-align: left;
        box-sizing: border-box;
	    font-size: 14px;
        border-radius: 20px;
        background:skyblue;
        
        

}
.jl {
    width: 300px;
    max-width: 200px;
    background:grey;
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
	font-size: 20px;
    border-radius: 20px;
    
}
.js {
    width: 300px;
    max-width: 200px;
    background:grey;
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
	font-size: 20px;
	border-radius: 20px;
}
.scrll {
        width: 300px;
		padding: 0 0 0;
		max-width: 225px;
		margin: 20px;
        text-align: left;
        position: relative;
        box-sizing: border-box;
        background:grey;
        font-size: 20px;
        left:60;
        top:42;
        
}
